<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ORATARO</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>15232fcd2baf11f5f364f2bb28bc30bf54674009</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>plus.google.com</string>
		<string>linkedin</string>
		<string>twitter</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LuisAppId</key>
	<string>Add your key here!</string>
	<key>LuisSubscriptionId</key>
	<string>Add your key here!</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>use to scan video</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your microphone will be used to record your speech when you press the "Start Recording" button.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) uses photos</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into this device's microphone.</string>
	<key>RapidCommandsDictionary</key>
	<dict>
		<key>orientate</key>
		<string>Orientate</string>
		<key>what's around me</key>
		<string>Orientate</string>
		<key>where am i</key>
		<string>Location</string>
	</dict>
	<key>SpeechCognitiveServicesPrimaryKey</key>
	<string>Add your key here!</string>
	<key>SpeechCognitiveServicesSecondaryKey</key>
	<string>Add your key here!</string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueLTStd-Roman.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
